.video-bg{
    width: 100%;
    z-index: 0;
    transform: scaleX(-1);
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Adjust the rgba values to change the color and opacity */
    z-index: 0;
  }

.content{
    font-family: 'Helvetica', sans-serif;
    color: #36495A;
    position: absolute;
    top: 0;
    margin-left: 5%;
    margin-top: 15%;
}

.title{
    font-size: 5vw;
    line-height: 6vw;
    letter-spacing: .5vw;
}

.description{
    margin-top: -4%;
    font-size: 1.8vw;
}

