.video-backg{
    width: 100%;
    z-index: 0;
    transform: scaleX(-1);
    filter: brightness(.9);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
     /* Adjust the rgba values to change the color and opacity */
    z-index: 0;
  }

.content{
    color: white;
    position: absolute;
    top: 0;
    margin-left: 5%;
    margin-top: 14%;
}

.title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4.5vw;
    line-height: 6vw;
}

.description{
    margin-top: -6%;
    font-weight: 1vw;
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 5%;
}

.buttons{
    margin-left: -10%;
    display: flex;
    width: 100%;
}

.l{
    width: 100%;
}
.SignUp{
    width: 75%;
    background-color: #127cb8;
    height: 4vw;
    margin-left: 1vw;
    font-size: 1vw;
    font-weight: bold;
}
.Login{
    width: 75%;
    background-color: #127cb8;
    height: 4vw;
    font-size: 1vw;
    font-weight: bold;
}

.mid-container{
    margin-top: 13.5%;
}
.text-1{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.offers{
    display: flex;
    margin-top: -7%;
    margin-left: 1%;
}

.offer{
    width: 30%;
    scale: .6;
}

.title1{
    font-size: 2vw;
    width: 170%;
}
.desc1{
    margin-top: -2%;
    font-size: 1.5vw;
    width: 150%;
}