*{
  z-index: 10;
}
.navbar1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    z-index: 1000;
  }

  .oewjroewuj{
    margin-top: -14%;
  }
  .logo1 { width: 10%; margin-top: -2%; height: .5vw; scale: .24; background-color: white; }

  .nav-links1 {
    background-color: white;
    list-style: none;
    display: flex;
    color: #36495a;
  }

  .nav-links1 li {
    margin-right: 1rem;
  }

  .nav-links1 a {
    background-color: white;
    text-decoration: none;
    color: #36495a;
    font-weight: bold;
  }
