.ttle{
    margin-top: 7%;
}

.here{
    z-index: 10;
    margin-left: 5%;
    margin-top: 7%;
    display: flex;
}
.searches{
    margin-top: 20px;
    width: 20%;
    color: black;
}
.date-set1{
        z-index: 10;
        margin-top: 0px;
        height: 60px;
        border: none;
        background-color: white;
        width: 305px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: 0%;
}
.date-set12{
    background-color: white;
    margin-top: 0px;
    height: 60px;
    border: none;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 0%;
}

.map{
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
    background-color: white;
}

.all{
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img1{
    scale: 70%;
    margin-right: -50px;
}
.dep{
    margin-right: -50px;
    font-size: 15px;
    
}
.dep1{
    font-size: 25px;
    margin-top: 11px;
}
.op{
    width: 1000px;
    margin-left: 30px;
}
.line {
    margin-left: 200px;
    background-color: grey;
    width: 1px;
    height: 100px;
    z-index: 100;
    margin-bottom: 10px;
  }

  .fl{
    display: flex;
  }