
.departure-box{
    width: 50%;
    
}

.arrival-box {
    width: 50%;
}

.date-box {
    width: 50%;

}



.arrival-city{
    margin-left: -50px;
    height: 60%;
    width: 250px;

}

.departure-city{
    width: 250px;
   height: 60%;
    
}
.search{
    height: 80px;
    display: flex;
}

.search-button {
    height: 70%;
    margin-left: -20%;
    margin-top: -1px;
    width: 150px;
    background-color: #127cb8;
}
.full{
    margin-top: 10%;
    margin-left: 12%;
    z-index: 1;
    width: 140%;
    background-color: white;
    padding: 7%;
    padding-right: 17%;
    border-radius: 10px; /* Adjust the value to control the corner radius */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); /* Adjust the values for the shadow effect */
}

.date-set{
    width: 200px;
    margin-left: -102px;
    height: 60%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.t{
    color: black;
}