
.departure-box{
    width: 20%;
    
}

.arrival-box {
    width: 20%;
}

.date-box {
    width: 20%;

}

.search-button-box {
    width: 20%;
}

.arrival-city{





}

.departure-city{
   
    
}
.search{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;

    
    
}

.search-button {
    
    
    


}